@charset "utf-8";
/* CSS Document */
body{
    margin: 70px 200px 100px 200px;
	
}


hr{
	position:relative;
    border-bottom:1px solid #686868 ;
   	z-index:-1;
	
	
   
    }
    
h1{
    font-family: Verdana, Geneva, sans-serif;
    
    z-index:1;
    
    }


img{
	z-index:3;
	position:absolute;
	width:100;
	height:95;
	border:1px solid #686868 ;
	padding: 1px 1px 1px 1px;
    
	margin-left:400px;
    float:right;
	
	
	
    -moz-transform:rotate(-10deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(-10deg);
    /* Opera */
    -o-transform:rotate(-10deg);
    /* IE9 */
    -ms-transform:rotate(-10deg);
    /* IE6,IE7 */
}
#summary{
	margin-right:300px
}

.border{
    border-left:1px solid #686868;
    padding-left:10px;
   
}
table{
	margin-right:400px;
	float:right;
	border-spacing:25px;
}

.left{
	
	vertical-align:top;
	
}
.right{
	border-left: 1px solid black;
	vertical-align:bottom;
	padding-left:10px;
}


